/* Reset CSS */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    vertical-align: baseline;
   
}

a{
    text-decoration: none;
	color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul, ol {
    list-style: none;
}

/* Set the viewport to make sure elements aren't scaled in mobile browsers */
@viewport {
    width: device-width;
}

/* Box sizing reset */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Clearfix hack */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
